@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background: linear-gradient(to right, #11998e, #38ef7d)
}

#title{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: bold;
    user-select: none;
    margin-top: 2%;
}

#button{
    margin: auto;
    width: 400px;
    height: 400px;
    text-align: center;
    border: 3px solid white;
    border-radius: 100%;
    font-family: 'Montserrat';
    font-weight: bold;
    user-select: none;
    transition-duration: 0.1s;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button:hover{
    cursor: pointer;
    transition-duration: 0.1s;
    background-color: white;
}

#button:active{
    transition-duration: 0.1s;
    transform: scale(0.9);
}